.overview-details {
  display: flex;
  flex-direction: column;
  min-width: 89.33vw;
  min-height: 20.79vh;
  margin-top: 0.88vh;
  margin-bottom: 0.88vh;

    &-summup {
      display: flex;
    }
}

